In [1]:
#!/usr/bin/python3
import psycopg2
from config import config
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# PostgreSQL Connection

In [ ]:
""" Connect to the PostgreSQL database server """
conn = None
try:
    # read connection parameters
    params = config()

    # connect to the PostgreSQL server
    conn = psycopg2.connect(**params)
    print('Connected to the PostgreSQL database.')

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

In [ ]:
def query(sql):
    return pd.read_sql_query(sql, conn)

# Import CSV Directly

In [2]:
ethtx = pd.read_csv('ethtx.csv')

# Exploratory Data Analysis

In [3]:
ethtx.head()

  Date(UTC)  UnixTimeStamp  Value
0   7/30/15     1438214400   8893
1   7/31/15     1438300800      0
2    8/1/15     1438387200      0
3    8/2/15     1438473600      0
4    8/3/15     1438560000      0

# Close PostgreSQL Connection

In [ ]:
if conn is not None:
    conn.close()
    print('Database connection closed.')